.row {
    margin: 0 auto;
}

header {
    position: relative;
}

nav {
    height: 100px;
    width: 100%;
}

.header__logo {
    height: 90px;
    width: 90px;
}


.header__form-input {
    padding: 8px;
    border: 1px solid #d8b027;
    border-radius: 4px 0 0 4px;
    width: 304px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}


.header__submit {
    padding: 8px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #d8b027;
    background-color: #d8b027;
    background-image: url(../img/search.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}


.header__input-nav {
    float: left;
}

.header__customized-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input::placeholder {
    font-family: 'Montserrat';
    font-size: 11px;
    color: #000;
    font-weight: 500;
}

.header__nav-content {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__nav-list-container {
    list-style: none;
}

.header__nav-list {
    display: inline-block;
    text-decoration: none;
    margin: 0px 4px;
}

.header__nav-link:link,
.header__nav-link:visited {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    margin-right: inherit;
    font-weight: 500;
}

.header__nav-link:hover {
    color: #CAAA3B;
}

.header--outlined {
    border: 1px solid #CAAA3B;
    padding: 8px 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.header--outlined:hover {
    color: white;
    background: #CAAA3B;

}

.header__avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__side-list {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.header-nav-icon {
    margin-left: 12px;
}

.header__username {
    color: red;
}

.header__greeting {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
}

.full--nav {
    position: relative;
}

.dropdown__header {
    padding: 0 15px 26px 15px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    background: #fff;
    color: black;
    display: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header__full-nav-list:hover .dropdown__header,
.header__full-nav-link:hover .dropdown__header {
    display: block;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.header__full-nav {
    max-width: 90%;
    list-style: none;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__full-nav-list {
    padding: 30px 0;
}

.header__full-nav-link:link,
.header__full-nav-link:visited {
    text-decoration: none;
    color: #000;
    padding: 14px 0;
    font-size: 12px;
    font-weight: normal;
    word-spacing: -1px
}

.drop-down__content {
    display: flex;
    padding: 9px 17px;
    justify-content: space-around;
}

.drop-drop__list-title {
    color: #000;
    margin: 0;
    font-weight: 500;

}

.drop-down__content li {
    list-style: none;
}

.drop-down__content li a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    white-space: nowrap;
    line-height: 18px;
}

.drop-down__content ul {
    padding-left: 12px;
}

.drop-down__content h4 {
    font-size: 12px;
    padding-top: 7px;
    line-height: 26px;
    white-space: nowrap;
}


.drop-down__column {
    padding: 0px 18px;
}