.logged-navbar {
    padding: 16px 30px;

    &__search {
        width: 35% !important;
        margin-left: 55px;

        ::placeholder {
            font-size: 8px !important;
            color: #000000;
            font-weight: 500;
        }
    }

    &__create-store {
        border: 1px #E6B712 solid;
        border-radius: 4px;
    }

    &__item,
    &__create-store {
        padding: 7px 15px;

        a {
            color: #000000 !important;
            font-weight: 500;
        }
    }

    &__item-active {
        a {
            color: #E6B712 !important;
        }
    }

    &__welcome {
        color: #000000;
        font-size: 12px;

        span {
            color: #f30000;
        }
    }
}

.inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 2px rgba(255, 255, 255, 0.6),
        0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    z-index: 999;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
}

.inset::after {
    display: none !important;
}

.icon-cart {
    fill: #E6B712 !important;
}