.navbar {
    padding: 0 !important;

    &__home {
        padding: 16px 74px;
        transition: .5s;
        background-color: transparent;
    }

    &__link {
        color: #ffffff !important;
        padding: 0 !important;
        font-size: 12px;
    }

    &__item {
        padding: 0 15px;
    }

    &__create-account {
        padding-left: 15px;
        font-size: 12px;

        &-resp {
            margin-right: 8px;
        }

        a {
            padding: 0 !important;
            color: #E6B712 !important;
        }
    }
}

.navbar__home.bg__scroll {
    background: url('../images/background-one.png') no-repeat !important;
    background-size: contain;
    box-shadow: 0px 4px 2px rgba(#000000, 0.1);
    padding: 10px 74px;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#E6B712' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media screen and (max-width: 600px) {

    .navbar__home,
    .navbar__home.bg__scroll {
        padding: 22px 18px;
    }

    .navbar__home.bg__scroll {
        padding: 10px 18px;
    }
}

@media screen and (max-width: 992px) {
    .navbar__item {
        border: none;
    }

    .responsive__nav-menu {
        background: #E6B712;
        text-align: center;
        padding: 20px;

        li {
            margin-bottom: 20px;
        }
    }

}