.all-services {
    &__hero {
        background: url('../images/all-services.jpg') no-repeat;
        background-size: cover;

        &-text {
            font-weight: 600;
            font-size: 24px;
            color: #FFFFFF;
            width: 630px;
            line-height: 36px;
            text-align: center;

            &-wrapper {
                height: 100%;
                padding-top: 180px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &-tab {
            background: transparent;

            &-hire {
                padding: 25px 20px;
            }

            &-compare {
                padding: 13px 20px;
            }

            &-icon {
                width: 30px !important;
                height: 30px !important;
                margin-right: 18px;
            }

            &-text {
                vertical-align: middle;
                display: inline-block;
                color: #FFFFFF;
                line-height: 24px;

                p {
                    &:nth-child(2) {
                        font-weight: 100;
                        font-size: 14px;
                    }

                    &:first-child {
                        font-weight: 700;
                    }
                }
            }

            &-wrapper {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }

    &__wrapper {
        padding: 70px;
        padding-bottom: 30px !important;
    }

    &__individual {
        background: #FFFFFF;
        box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        height: 287px;

        &-image {
            height: 190px;
            width: 100%;
            border-radius: 8px 8px 0 0;
            position: relative;

            img {
                border-radius: 8px 8px 0 0;
            }

            &-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                top: 0;
                border-radius: 8px 8px 0 0;
            }
        }

        &-info {
            position: relative;
            height: 97px;

            .interest__individual-cover-img {
                width: 70px;
                height: 70px !important;
            }

            p {
                font-weight: 600;
                line-height: 97px;
                font-size: 18px;
                color: #333333;
                text-align: center;
            }
        }

        &-icon {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 0;
            right: 0;
            top: -20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__info {
        padding: 0px 70px;
        margin-bottom: 60px;

        h4 {
            line-height: 32px;
            font-size: 18px;
            color: #333333;
            font-weight: 600;
        }

        p {
            line-height: 32px;
            font-size: 16px;
            color: #333333;
            text-align: justify;
        }
    }

    &__promote {
        background: url("../images/promote-background3.jpg") no-repeat;
        height: 200px;
        width: 100%;
        background-size: 100% 100%;
    }
}