.cart {
    // padding: 0 100px;
    margin-bottom: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;


    &__update {
        border: 1px solid #E6B712;
        padding: 10px;
        margin-bottom: 15px;

        p {
            font-size: 14px;
            color: #000000;
            font-weight: 600;
        }
    }

    &__item {

        &-count {
            margin-bottom: 17px;

            p {
                font-size: 18px;
                color: #000000;
                margin-bottom: 5px;
            }

            a {
                font-size: 12px;
                color: #F30000;
            }
        }

        &-heading {
            width: 100%;
            margin-bottom: 15px;

            li {
                display: inline-block;
                width: 15%;
                font-size: 18px;
                color: #000000;
                text-align: center;

                &:first-child {
                    width: 53%;
                    text-align: left;
                }
            }
        }

        &-wrapper {
            width: 100%;
            height: 100px;
            background: #FFFFFF;
            box-shadow: -4px 4px 40px rgba(0, 0, 0, 0.05), 4px -4px 40px rgba(0, 0, 0, 0.05);
            border-radius: 2px;
            margin-bottom: 20px;
        }

        &-details {
            width: 53%;
            height: 100%;
            padding: 10px 15px;
            display: inline-block;
            border-right: 1px solid #DEDEDE;

            &-image,
            &-info {
                display: inline-block;
                vertical-align: middle;
            }

            &-image {
                margin-right: 20px;
            }

            &-info {
                height: 100%;

                small {
                    font-size: 8px;
                    color: #555555;
                }

                &-name {
                    line-height: 20px;
                    font-size: 14px;
                    color: #030303;
                    margin-top: 8px;
                }

                &-action {
                    margin-top: 5px;

                    a {
                        &:first-child {
                            margin-right: 40px;
                        }
                    }

                    svg {
                        width: 12px !important;
                        height: 12px !important;
                    }

                    span {
                        color: #E6B712;
                        font-size: 10px;
                    }
                }
            }
        }

        &-quantity,
        &-price,
        &-subtotal {
            width: 15%;
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            text-align: center;
        }

        &-quantity,
        &-price,
            {
            border-right: 1px solid #DEDEDE;
        }

        &-quantity {
            line-height: 100px;

            select {
                border-radius: none;
                width: 60px;
                height: 36px;
                vertical-align: middle;
            }
        }

        &-price,
        &-subtotal {
            line-height: 100px;
            font-size: 14px;
            color: #030303;
        }

        &-subtotal {
            color: #E6B712;
        }

    }

    &__summary {
        text-align: right;
    }

    &__total {
        margin-bottom: 17px;

        &-title,
        &-price {
            display: inline-block;
            font-size: 18px;
        }

        &-title {
            color: #000000;
            margin-right: 60px;
        }

        &-price {
            color: #E6B712;
        }


    }

    &__free-shipping {
        margin-bottom: 17px;

        &-btn {
            border: 1px solid #DEDEDE;
            background-color: transparent;
            color: #F30000;
            font-size: 12px;
            padding: 7px 28px;

            &:hover {
                background-color: #ffffff;
                color: #F30000;
            }
        }
    }

    &__button {
        &-continue {
            margin-right: 30px;
            border: 1px solid #E6B712;
            background-color: #ffffff;
            color: #000000;
            font-size: 12px;
            padding: 12px 29px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 4px;
            display: inline-block;

            &:hover {
                background-color: #ffffff;
                color: #000000;
            }
        }

        &-checkout {
            border: none;
            background-color: #E6B712;
            color: #ffffff;
            font-size: 12px;
            padding: 12px 61px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 4px;
            display: inline-block;

            &:hover {
                background-color: #E6B712;
                color: #ffffff;
            }
        }
    }
}

select:not([multiple]) {

    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('../icon2/dropdown-icon.svg');
    padding: .5em;
    padding-right: .5em;
    background-origin: content-box;
    background-size: 10px 10px;
}