@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/coolvetica.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Segoe UI";
    src: url('../fonts/Segoe UI.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins Light";
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Adobe Gothic";
    src: url('../fonts/adobegothicstd-bold.otf');
    font-weight: normal;
    font-style: normal;
}


.marketplace {
    &__body {
        font-family: Segoe UI, sans-serif;
    }

    height: 481px;
    padding: 0 50px;

    &__hero {
        position: relative;
        width: 80.7%
    }

    &__top {
        &-slider {
            position: relative;
            height: 100%;
            overflow: hidden;
            width: 100%;

            .slick-next {
                right: -70px;
                height: fit-content;
                height: -moz-fit-content;
                background: url('../images/arrow-background-right.svg') no-repeat;
                padding: 30px;

                &::before {
                    content: url(../icon2/arrow-next-two.svg) !important;
                }
            }

            .slick-prev {
                left: -70px;
                z-index: 1;
                background: url('../images/arrow-background.svg') no-repeat;
                background-size: contain;
                height: fit-content;
                height: -moz-fit-content;
                padding: 30px;

                &::before {
                    content: url(../icon2/arrow-before-two.svg) !important;
                }
            }

            img {
                width: 100%;
            }

            &-individual {
                &-overlay {
                    background: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                &-content {
                    position: absolute;
                    top: 90px;
                    left: 180px;

                    h2 {
                        font-size: 60px;
                        width: 450px;
                        color: #FFFFFF;
                        // font-weight: 700;
                        font-family: coolvetica, sans-serif;
                        line-height: 80px;
                    }

                    button {
                        font-family: coolvetica, sans-serif;
                        font-size: 12px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }

    &__topAd {
        background: #FCFCFC;
        width: auto;
        height: 176px;
        padding: 10px;

        &-info {
            margin-left: 20px;
            margin-bottom: 30px;

            h3 {
                text-transform: uppercase;
                font-size: 12px;
                color: #000000;
                margin-bottom: -5px;
            }

            a {
                font-size: 10px;
                color: #000000;
            }

            div {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &__section {
        &-heading {
            color: #33333a;
            font-size: 24px;
            text-align: center;
            font-family: Segoe UI;
        }
    }

    &__featured {
        &-brand {
            padding: 36px 50px;

            &-wrapper {
                display: flex;
            }
        }

        &-individual {
            &-brand {
                width: 100%;
                width: -moz-available;
                width: -webkit-fill-available;
                width: fill-available;
                height: 300px;
                border-radius: 4px;
                position: relative;
                margin-right: 20px;
                margin-bottom: 10px;
                margin-top: 19px;

                &:last-child {
                    margin-right: 0;
                }

                &-info {
                    text-align: center;
                    margin-top: 80px;
                    padding: 0 14px;

                    h3 {
                        font-size: 24px;
                        color: #ffffff;
                        margin-bottom: 11px;
                        font-family: Adobe Gothic;
                    }

                    p {
                        font-size: 13px;
                        color: #ffffff;
                        font-weight: 300;
                        font-family: Poppins Light;
                    }

                    &-button {
                        background-color: #ffffff;
                        color: #000000;
                        font-size: 10px;
                        padding: 12px 28px;
                        border-radius: 8px;
                        border: none;
                        position: absolute;
                        bottom: 30px;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        transform: translateX(-50%);
                        right: 0;
                        text-transform: uppercase;

                        &:hover {
                            background-color: #FCFCFC;
                            color: #000000;
                        }

                        &:focus {
                            background-color: #FCFCFC;
                            color: #000000;
                        }
                    }
                }



                &-overlay {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    height: 100%;
                    top: 0;
                    border-radius: 4px;

                    &.four {
                        background-image: linear-gradient(0.53deg, rgba(230, 183, 18, 0.77) 0.29%, rgba(0, 0, 0, 0.5) 99.5%) !important;
                    }

                    &.five {
                        background-image: linear-gradient(0.53deg, rgba(106, 177, 117, 0.77) 0.29%, rgba(106, 177, 117, 0) 99.5%) !important;
                    }
                }

                &-one {
                    background: url('../images/furniShop.png') no-repeat;
                    background-size: cover;
                }

                &-two {
                    background: url('../images/clairevoy.png') no-repeat;
                    background-size: cover;
                }

                &-three {
                    background: url('../images/chisco.png') no-repeat;
                    background-size: cover;
                }

                &-four {
                    background: url('../images/techmall.png') no-repeat;
                    background-size: cover;
                }

                &-five {
                    background: url('../images/Afiaanyi.com.png') no-repeat;
                    background-size: cover;
                }



            }
        }
    }

    &__top-deal {
        padding: 36px 50px;
        display: flex;
        background: #FCFCFC;

        &-banner {
            min-width: 240px;
            width: 240px;
            height: 240px;
            margin-right: 20px;
        }
    }

    &__product {
        width: 280px;
        height: 305px;
        height: fit-content;
        margin-left: 10px;
        border-radius: 2px;
        padding: 10px;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);

            .marketplace__product-quickview {
                display: block;
                -webkit-animation: fadeIn 1.5s;
                animation: fadeIn 1.5s;
            }
        }

        &-wrapper {
            min-width: 0;
            min-height: 0;

            .slick-next {
                right: -85px;

                &::before {
                    content: url(../icon2/arrow-next.svg) !important;
                }
            }

            .slick-prev {
                left: -76px;

                &::before {
                    content: url(../icon2/arrow-before.svg) !important;
                }
            }

        }

        &-image {
            height: 150px;
            overflow: hidden;
            position: relative;
            border-radius: 2px 2px 0 0;
        }

        &-details {
            padding-bottom: 12px;
            border-radius: 0 0 2px 2px;
        }

        &-brand {
            color: #000000;
            font-size: 8px;
            font-weight: 300;
        }

        &-line {
            border: 1px solid #dedede;
            border-radius: 2px;
            margin: 2px 0;
        }

        &-name {
            font-size: 14px;
            color: #000000;
            line-height: 18px;
            font-weight: 600;

            &:hover {
                color: #33333a;
            }
        }

        &-price {
            display: inline-block;
            color: #000000;
            font-size: 14px;

            &-wrapper {
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }

        &-discount {
            float: right;
            border: 1px solid #CAAA3B;
            padding: 3px;
            font-size: 8px;
            border-radius: 2px;
        }

        &-rating {
            &-stars {
                display: inline-block;
                vertical-align: middle;
            }

            &-number {
                float: right;
                font-size: 10px;
                color: #000000;
                line-height: 24px;
                vertical-align: middle;
            }
        }

        &-new {
            position: absolute;
            top: 8px;
            left: 8px;
            background-color: #F30000;
            color: #ffffff;
            font-size: 8px;
            text-transform: uppercase;
            padding: 4px 9px;
            border-radius: 2px;

        }

        &-quickview {
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            display: none;

            &-btn {
                transition: 0.5s ease-in;
                background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
                border: none;
                border-radius: 2px;
                font-size: 12px;
            }
        }
    }

    &__recommended {
        padding: 36px 50px;
        display: flex;
        background: #FCFCFC;
        margin-bottom: 27px;

        &-top {
            text-align: center;
            padding: 24px 0;
        }

        &-wrapper {
            background: linear-gradient(90deg, #C4C4C4 13.75%, rgba(65, 64, 64, 0.5) 93.43%);
            border-radius: 4px;
            width: 240px;
            min-width: 240px;
            min-height: 300px;
            height: 300px;
            margin-right: 20px;
        }

        &-heading {
            color: #ffffff;
            font-size: 13px;
            text-transform: uppercase;
        }

        &-options {
            &-wrapper {
                height: 226px;
                width: 99%;
                background-color: #ffffff;
                border-radius: 4px;

                .nav-link {
                    color: #000000;
                    text-transform: uppercase;
                    font-size: 12px;
                    vertical-align: middle;

                    &:hover {
                        color: #CAAA3B !important;
                        margin-left: 9px;
                    }
                }

                .active {
                    background-color: transparent !important;
                    color: #CAAA3B !important;
                    margin-left: 9px;

                    svg {
                        width: 5.55px !important;
                        height: 9px !important;
                        fill: #CAAA3B !important;
                        margin-left: auto;
                    }
                }

                svg {
                    width: 5.55px !important;
                    height: 9px !important;
                    fill: #000000 !important;
                    float: right;
                    line-height: 18px;
                    vertical-align: middle;
                }


            }
        }
    }

    &__tab {
        .slick-next {
            right: -85px;

            &::before {
                content: url(../icon2/arrow-next.svg) !important;
            }
        }

        .slick-prev {
            left: -76px;

            &::before {
                content: url(../icon2/arrow-before.svg) !important;
            }
        }
    }

    &__stores {
        padding: 36px 50px;
        display: flex;
        z-index: 1;
        background: #FCFCFC;
        margin-bottom: 27px;

        &-wrapper {
            background: rgba(59, 89, 152, 0.8) !important;
            height: 510px;
            margin: 0;
        }

        &-options {
            &-wrapper {
                height: 428px !important;
                padding-top: 10px;
            }
        }

        &-heading {
            vertical-align: top;
        }

        &-brand {
            margin-bottom: 30px;

            &:first-child {
                margin-bottom: 15px;
            }
        }

        &-explore {
            height: 510px;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 4px;
            width: 251px;
            min-width: 251px;
            z-index: 1;

            &-top {
                height: 78px;
                background: #FCFCFC;
                border-bottom: 1px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 4px 4px 0px 0px;

                p {
                    text-align: center;
                    line-height: 78px;
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #000000;
                }
            }

            &-products {
                padding: 15px 21px;

                &-heading {
                    font-size: 13px;
                    text-transform: uppercase;
                    color: #000000;
                    font-weight: 600;
                    margin-bottom: 5px;
                    margin-top: 15px;
                }

                &-name {
                    margin-left: 33px;
                    font-size: 12px;
                    color: #000000;
                    margin-bottom: 5px;
                }

            }
        }

        &-banner {
            width: 300px;
            height: 510px;
            margin-left: 10px;
            min-width: 300px;
        }

        &-product {
            &-slider {
                min-width: 0;
                min-height: 0;
                margin-left: 10px;


                &-wrapper {
                    .marketplace__product-details {
                        height: 143px;
                    }

                    .marketplace__product-image {
                        height: 112px;
                    }
                }

                .slick-next {
                    right: -85px;

                    &::before {
                        content: url(../icon2/arrow-next.svg) !important;
                    }
                }

                .slick-prev {
                    left: -72px;

                    &::before {
                        content: url(../icon2/arrow-before.svg) !important;
                    }
                }
            }
        }
    }

    &__home-office {
        background: #B7B360 !important;

        &-options {
            height: 435px !important;
        }

        &-brand {
            margin-bottom: 20px;

            &:first-child {
                margin-bottom: 10px;
            }
        }
    }

    &__health-beauty {
        background: #F300E9 !important;

    }

    &__loading {
        margin-bottom: 28px;

        svg {
            width: 32px !important;
            height: 32px !important;
        }

        span {
            font-size: 10px;
            color: #000000;
            text-transform: uppercase;
        }
    }

    &__newsletter {
        background: rgba(243, 243, 243, 0.8);
    }



}


.quickview {
    &__modal {
        max-width: 80%;

        &-content {
            border-radius: 0;
            background: #FFFFFF;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
            border: none;

            .modal-body {
                padding: 24px;
            }

            .modal-header {
                background: #FFFFFF;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
            }
        }

        &-body {
            &-image {
                margin-right: 20px;
                width: 40%;
            }

            &-details {
                width: 60%;

                &-heading {
                    font-size: 24px;
                    color: #030303;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
            }

            &-price {
                width: 300px;

                p {
                    font-size: 24px;
                    color: #000000;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                small {
                    font-size: 12px;
                    color: #000000;
                }
            }

            &-description {
                box-shadow: 0px -2px 0px #F9F8F6;
                width: 300px;
                padding-top: 10px;
                margin-right: auto;

                h4 {
                    font-size: 14px;
                    color: #000000;
                    margin-bottom: 10px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    text-align: justify;
                    color: #000000;
                    font-weight: 300;
                    line-height: 20px;
                    font-family: Segoe UI, sans-serif;

                    a {
                        color: #CAAA3B;
                        font-size: 12px;
                    }
                }
            }


        }

        &-ratings {
            margin-right: 38px;
            margin-bottom: 15px;

            &-stars {
                display: inline-block;
                vertical-align: middle;
            }

            &-figure {
                font-weight: 300;
                font-size: 16px;
                text-align: justify;
                color: #666666;
                vertical-align: middle;
                margin-left: 10px;
            }

            a {
                font-size: 12px;
                color: #F30000;
                margin-top: 13px;
                display: block;
            }
        }

        &-security {
            background: #FCFCFC;
            border: 1px solid #C4C4C4;
            width: fit-content;
            height: fit-content !important;

            h3 {
                font-size: 12px;
                color: #000000;
                text-transform: none !important;
            }

            &-icons {
                width: 20px !important;
                height: 20px !important;
                fill: #464646;
            }

            .marketplace__topAd-info {
                margin-bottom: 20px;
                margin-left: 0;
            }

        }

        &-sizing {
            h4 {
                font-size: 12px;
                text-transform: capitalize;
                color: #000000;
                margin-bottom: 11px;
                font-weight: 600;
            }

            a {
                float: right;
                font-size: 11px;
                letter-spacing: 1px;
                color: #000000;
                margin-right: 58px;
            }

        }

        &-size {
            &-individual {
                background: #FFFFFF;
                border: 1px solid #F3F3F3;
                width: 30px;
                height: 25px;
                font-size: 10px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                padding: 3px;
                display: inline-block;
                margin-right: 10px;
                cursor: pointer;
                vertical-align: middle;

                &.selected {
                    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
                    border: 1px solid #DEDEDE;
                    color: #ffffff;
                }
            }

            &-and-color {
                box-shadow: 0px -2px 0px #F9F8F6;
                margin-top: 10px;
                padding: 10px 0;
            }
        }

        &-colour {
            margin-top: 20px;

            &-wrapper {
                h4 {
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: #000000;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
            }

            &-individual {
                margin-bottom: 6px;

                span {
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-size: 11px;
                }

            }
        }

        &-info {
            width: 148px;
            margin-left: auto;

            p {
                font-size: 11px;
                line-height: 20px;

                span {
                    font-weight: 700;
                }

                .quickview__modal-info-seller-score {
                    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
                    border-radius: 1px;
                    padding: 3px 8px;
                    margin-left: 7px;
                }
            }
        }

        &-button-wrapper {
            margin-top: 20px;

            h4 {
                font-size: 12px;
                letter-spacing: 1px;
                color: #000000;
                margin-bottom: 10px;
                font-weight: 600;
            }

            .marketplace__product-quickview-btn {
                width: 180px;
                margin-left: 20px;
                height: 40px;
            }
        }

        &-quantity {
            display: inline-block;
            width: 120px;
            border: 1px solid #DEDEDE;
            box-sizing: border-box;

            &-increase {
                float: right;
                line-height: 38px;
                cursor: pointer;
                padding: 0 5px;

            }

            &-reduce {
                cursor: pointer;
                vertical-align: middle;
                padding: 0 5px;
            }

            &-figure {
                width: 63%;
                text-align: center;
                border: none;
                line-height: 38px;
            }

            &-addtocart {
                border: 1px solid #DEDEDE;
                border-radius: 4px;
                background-color: transparent;
                color: #000000;
                width: 180px;
                margin-left: 20px;
                height: 40px;

                &:hover {
                    background-color: #E6B712;
                    color: #ffffff;
                    border: none;
                }
            }
        }

        &-share {
            margin-top: 20px;

            span {
                font-size: 14px;
                color: #666666;
                font-weight: 300;
                margin-right: 20px;
            }

            a {
                svg {
                    margin-right: 10px;
                    fill: #E6B712 !important;
                }
            }

        }

        &-save {
            float: right;
            font-size: 12px;
            text-align: center;
            color: #F30000;
            border-bottom: 2px solid#F30000;
            padding: 0 31px;
            padding-bottom: 8px;

            a {
                color: #F30000;
            }

        }

        &-viewful {
            margin-top: 20px;

            a {
                width: 400px;
            }
        }
    }





    &__title {
        color: #030303;
        font-size: 18px;
    }
}



.preview {
    width: 68px;
    height: 68px;
    margin-bottom: 20px;
    overflow: hidden;
}

.full {
    height: 600px;
    overflow: hidden;
}




@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* bootstrap hack: fix content width inside hidden tabs */
.tab-content>.tab-pane,
.pill-content>.pill-pane {
    // display: block;
    /* undo display:none          */
    height: 0;
    /* height:0 is also invisible */
    // overflow: hidden;
    /* no-overflow                */
}

.tab-content>.active,
.pill-content>.active {
    height: auto;
    /* let the content decide it  */
}

/* bootstrap hack end */

.icon-phones-tablet {
    width: 26px !important;
    height: 30px !important;
}

.icon-delivery,
.icon-offers,
.icon-sell-on {
    width: 20px;
    height: 20px;
    fill: #000000;
    margin-right: 8px;
}




.hero-ad-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}



.hero--text {
    font-family: coolvetica, sans-serif;
    color: #fff;
    line-height: 6rem;
    position: absolute;
    font-size: 5rem;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.legend__controller {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    height: 18px;
    background: rgba(0, 0, 0, .5);
    left: 50%;
    bottom: 5%;
    border-radius: 4px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.legend {
    height: 10px;
    width: 10px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.legend--active {
    background: #fff;
}

.slide--market {
    height: 400px;
    width: 80%;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/market-header.svg);
    background-size: cover;
    background-position: center;
}

.slides {
    position: relative;
    width: 78%;
}

.slider__container {
    position: relative;
    display: flex;
    width: 500%;
    left: -100%;
    overflow: hidden;
}

.slider__outer-cont {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pause,
.play {
    display: block;
    cursor: pointer;
}

.hero__slider-nav {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.hero__slider-nav--left {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.hero__slider-nav--left,
.hero__slider-nav {
    cursor: pointer;
}



















@media screen and (max-width: 1079px) {
    .marketplace__featured-individual-brand {
        &:last-child {
            display: none;
        }

        &:nth-child(4) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 884px) {
    .marketplace__featured-individual-brand {
        &:nth-child(4) {
            display: none;
        }

        &:nth-child(3) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 683px) {
    .marketplace__featured-individual-brand {
        &:nth-child(3) {
            display: none;
        }

        &:nth-child(2) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 463px) {
    .marketplace__featured-individual-brand {
        &:nth-child(2) {
            display: none;
        }

        &:nth-child(1) {
            margin-right: 0;
        }
    }
}