@font-face {
    font-family: "Segoe UI";
    src: url('../fonts/Segoe UI.ttf');
    font-weight: normal;
    font-style: normal;
}

.breadcrumb {
    padding: 20px 64px;
    background-color: #fff;
    margin-top: 36px;

    &__link {
        font-size: 12px;
        color: #000000;
        vertical-align: middle;

        &:hover {
            color: #E6B712
        }
    }

    .icon-separator {
        height: 8px !important;
        width: 8px !important;
        margin: 0 15px;
    }

    span {
        font-size: 12px;
        color: #000000;
        vertical-align: middle;
    }
}

.product-page {
    &__body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    &__details {
        padding: 20px 64px;
    }

    &__product {
        width: 30%;

        .marketplace__product-image {
            height: fit-content;
            position: relative;

            .marketplace__product-new {
                left: 24px;
            }

            img {
                display: block;
                margin: auto;
            }
        }
    }

    &__customers-also-view {
        margin-top: 40px;

        h3 {
            text-align: center;
            font-size: 28px;
            color: #33333A;
        }

        &-product {
            padding: 30px 50px;
            display: flex;
        }
    }

    &__customer-review {
        background-color: #FCFCFC;
        padding: 30px 50px;

        h3 {
            font-size: 28px;
            text-align: center;
            color: #33333A;
            padding: 3px 29px;
            border: 2px solid #CAAA3B;
            width: fit-content;
            margin: auto;
            border-radius: 4px;
            background-color: #FCFCFC;
        }

        &-line {
            margin: 0;
            margin-bottom: -20px;
            background: #CAAA3B;
            height: 1px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }


        &-sort {
            float: right;

            span {
                font-size: 14px;
                color: #333333;
                margin-right: 4px;
            }

            select {
                height: 40px;
                width: 165px;
                border-radius: 0;
                -webkit-border-radius: 0px;
                padding: 5px 10px;
                border: 1px solid #DEDEDE;
            }
        }

        &-share {
            float: right;

            span {
                font-size: 12px;
                color: #000000;
                margin-right: 20px;
            }

            .marketplace__product-quickview-btn {
                width: 170px;
            }
        }

        &-invite {
            width: 70%;
            margin: 0 auto;
            margin-top: 60px;

        }

        &-heading {
            font-size: 14px;
            color: #33333A;
            margin: 20px 0;
        }

        &-individual {
            &-review {
                line-height: 25px;
                font-size: 14px;
                color: #33333A;
                font-weight: 300;
                width: 80%;
            }

            &-divider {
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #DEDEDE;
                width: 85%;

            }

            &-details {
                margin-top: 10px;

                &-name {
                    font-size: 12px;
                    color: #33333A;
                    margin-right: 18px;
                    font-weight: 600;

                    span {
                        color: #666666;
                        font-size: 12px;
                        font-weight: 300;
                    }
                }

                &-date {
                    color: #666666;
                    font-size: 12px;
                    font-weight: 300;
                }

                &-keyword {
                    font-size: 14px;
                    color: #33333A;
                    margin-top: 15px;
                    margin-bottom: 8px;
                }


            }
        }

        &-paging {
            text-align: right;

            &-individual {
                display: inline-block;
                border: 1px solid #C4C4C4;
                font-size: 10px;
                height: 20px;
                width: 20px;
                text-align: center;
                line-height: 18px;
                cursor: pointer;


                &.current {
                    border: 1px solid #E6B712;
                }

                .icon-next-page {
                    width: 8px !important;
                    height: 8px !important;
                    margin-bottom: 2.5px;
                }
            }

            span {
                font-size: 20px;
                font-weight: 700;
                margin: 0 9px;
            }
        }
    }
}