.signup {
    padding: 20px 50px;
    position: relative;

    &__background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

    }

    &__heading {
        text-align: center;

        &-text {
            font-weight: 500;
            line-height: normal;
            font-size: 18px;
            color: #000000;
            margin-bottom: 2px;
            text-transform: uppercase;
        }

        &-subtext {
            color: #E6B712;
            font-weight: 500;
            line-height: normal;
            font-size: 12px;
            margin-bottom: 30px
        }

        svg {
            float: left;
            fill: #000000 !important;
        }
    }

    &__logo {
        width: 60px;
        height: 54px;
        margin: 7px auto;
    }

    &__form {

        &-textarea {
            height: 111px !important;
        }

        &-input {
            height: 50px;
            width: 100%;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid rgba(65, 64, 64, 0.5);
            margin-bottom: 27px;
            color: #000000;
            font-size: 14px;
            padding: 16px 20px !important;

            &::placeholder {
                color: #C4C4C4;
                font-weight: 300;
            }

            &:focus {
                border: 1px solid #E6B712;
                box-shadow: none;
            }

        }

        &-subscribe {
            font-size: 10px;
            color: #000000;
            margin-left: 37px;
        }

        &-terms {
            margin-top: 33px;
            margin-bottom: 20px;
            color: #000000;
            font-size: 12px;

            a {
                color: #E6B712;

                &:hover {
                    color: #E6B712;
                }
            }
        }

        &-button {
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border-radius: 4px;
            border: none;
            width: 100%;
            padding-top: 12px;
            padding-bottom: 12px;
            font-weight: 600;
            line-height: normal;
            font-size: 20px;
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        &-already-in {
            font-size: 12px;
            text-align: center;

            a {
                color: #E6B712;

                &:hover {
                    color: #E6B712;
                }
            }
        }
    }

    &__verify {
        font-weight: 500;
        line-height: normal;
        font-size: 24px;
        color: #000000;
        text-align: center;

        &-message {
            font-weight: 500;
            line-height: normal;
            font-size: 18px;
            text-align: center;
            color: #000000;

            &:nth-child(2) {
                margin-top: 67px;
                margin-bottom: 20px;
            }
        }

        &-notify {
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            text-align: center;
            color: #F30000;
            margin-top: 62px;
            margin-bottom: 100px;
        }
    }
}

.modal {
    overflow-y: auto;
    background-color: rgba(#000000, 0.2);
}

select:invalid {
    color: #C4C4C4 !important;
}

.multiselect {
    width: 100%;
    margin-bottom: 27px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: 300;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px solid rgba(65, 64, 64, 0.5);
    padding: 16px 20px !important;
    border-radius: 4px;
}

#checkboxes label {
    display: block;
    margin-bottom: 10px;
}

#checkboxes label input {
    margin-right: 10px;
}

#checkboxes label:hover {
    color: #E6B712;
    cursor: pointer;
}

.login {
    &__forgot-password a {
        color: #E6B712;
        font-size: 10px;
        float: right;
    }

    &__social {
        &-wrapper {
            margin-bottom: 31px;

            p {
                font-size: 14px;
                color: #000000;
                margin-bottom: 18px;
            }
        }

        &-button {
            width: 31%;
            height: 60px;
            border-radius: 4px;
            margin-left: auto;
            margin-right: 3px;
            padding: 22px 10px;
            position: relative;
            cursor: pointer;

            svg {
                height: 32px !important;
                width: 34px !important;
                position: absolute;
                bottom: 15px;
            }

            &.facebook {
                background: #3B5998;
            }

            &.linkedin {
                background: #0077B5;
            }

            &.google {
                background: #DB4437;
            }

            span {
                font-weight: 500;
                line-height: normal;
                font-size: 8px;
                color: #FFFFFF;
                text-align: center;
            }



            &-wrapper {
                display: flex;
            }
        }
    }
}

@media screen and (max-width:575px) {
    .signup {
        padding: 20px 20px;
    }

    .modal-dialog {
        margin: 30px;
    }
}