.signup {
    &__hero {
        width: 100%;
        height: 123px;
        background: url('../images/signup_hero.png') no-repeat;
        background-size: cover;
        position: relative;

        &-icon {
            width: 70px;
            height: 70px;
            position: absolute;
        }

        &-overlay {
            background: rgba(0, 0, 0, 0.2);
            height: 100%;
        }

        &-heading {
            text-align: center;
            font-weight: 500;
            line-height: normal;
            font-size: 36px;
            color: #FFFFFF;
            line-height: 123px;
        }
    }

    &__form {
        padding: 34px 120px;

        &-tab {
            width: 50%;

            &-link {
                font-weight: 100;
                font-size: 16px;
                color: #000000;
                text-align: center;
                background: rgba(196, 196, 196, 0.1);

                &:hover {
                    color: #000000;
                }


                &.active {
                    background: transparent !important;
                    border-radius: 0;
                    border-bottom: 5px solid #CAAA3B;
                    border-right: 5px solid #CAAA3B;
                    font-weight: 700;
                    color: #000000 !important;
                }
            }

            &-content {
                margin-top: 50px;
                padding: 0 30px;
            }
        }

        &-input {
            height: 50px;
            width: 100%;
            background: #FFFFFF;
            border-radius: 4px;
            border: 1px solid rgba(65, 64, 64, 0.5);
            margin-bottom: 30px;
            color: #000000;
            font-size: 14px;
            padding: 16px 20px;

            &::placeholder {
                color: #C4C4C4;
                font-weight: 300;
            }

            &:focus {
                border: 1px solid #E6B712;
                box-shadow: none;
            }

        }

        &-subscribe {
            font-size: 10px;
            color: #000000;
            margin-left: 11px;
        }

        &-terms {
            margin-top: 33px;
            margin-bottom: 20px;
            color: #000000;
            font-size: 12px;

            a {
                color: #E6B712;

                &:hover {
                    color: #E6B712;
                }
            }
        }

        &-button {
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border-radius: 4px;
            border: none;
            width: 100%;
            padding-top: 12px;
            padding-bottom: 12px;
            font-weight: 600;
            line-height: normal;
            font-size: 20px;
            color: #FFFFFF;
        }

        &-already-in {
            font-size: 12px;
            text-align: center;
            margin-top: 30px;

            a {
                color: #E6B712;

                &:hover {
                    color: #E6B712;
                }
            }
        }

        &-or {
            font-size: 18px;
            color: #000000;
            margin-top: 104px;
        }
    }

    &__fb,
    &__in,
    &__gl {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        margin-bottom: 40px;
        text-align: center;

        svg {
            height: 20px !important;
            width: 20px !important;
        }

        span {
            font-size: 12px;
            color: #FFFFFF;
            font-weight: 500;
            vertical-align: middle;
            line-height: 50px;
            margin-left: 11px;
        }
    }

    &__fb {
        background: #3B5998;
    }

    &__in {
        background: #0077B5;
    }

    &__gl {
        background: #DB4437;
    }

    &__business-wrapper {
        width: 50%;
        margin: auto;
        z-index: 1;
    }

}