.top-brand {
    padding-top: 30px;

    &__hero {
        height: 512px;
    }

    &__filter {
        border: 1px solid #E6B712;
        box-sizing: border-box;
        border-radius: 2px;
        width: 165px;
        padding: 8px;
        cursor: pointer;
        font-family: Segoe UI;
        font-size: 12px;
        color: #000000;
        height: 30px;

        option:hover {
            background: red;
        }

        &-wrapper {
            padding: 30px 85px;
            padding-bottom: 0;
            display: flex;

            span {
                font-family: Segoe UI !important;
                font-size: 12px;
                color: #000000;
                font-weight: 600;
                align-self: center;
                margin-right: 10px;
            }
        }

        &-individual {
            display: flex;
            margin-right: 30px;

            .selectric {
                border: 1px solid #E6B712;
                box-sizing: border-box;
                border-radius: 2px;
                width: 165px;
                height: 38px;
                background: #fff;
            }

            .selectric-items {
                border: none;
                background: #fff;

                li {
                    &:hover {
                        background: #C82600;
                        color: #fff;
                    }
                }
            }

            .selectric-items li.highlighted,
            .selectric-items li.selected {
                background: #C82600;
                color: #fff;
            }
        }



    }

    &__details {
        text-align: center;
        position: relative;
    }

    &__name {
        font-weight: 600;
        line-height: normal !important;
        font-size: 18px;
        color: #333333;
        text-align: center;
        margin-bottom: 8px;
    }

    &__category {
        font-size: 12px;
        color: #979797;

        &:hover {
            color: #979797;
        }
    }

    &__verify {
        background: #2F80ED;
        border-radius: 4px;
        padding: 4px 10px;
        width: fit-content;

        span {
            font-size: 10px;
            color: #fff;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__individual {
        &-info {
            padding: 9px;
        }
    }

    &__review {
        background: url('../images/background-one.png') no-repeat;
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center;
        padding: 0 30px;

        &-text {
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 20px !important;
            width: 50%;
        }

        &-modal {
            background: url('../images/leave-review.png') no-repeat;
            background-size: cover;
            background-position: 100%;
            padding: 0 110px;
            padding-bottom: 30px;

            &-content {
                // height: 400px;
            }

            h3 {
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 16px;
                color: #000000;
                border: 1px solid #E6B712;
                width: fit-content;
                padding: 5px 15px;
                margin: auto;
                margin-bottom: 20px;
            }

            form {
                width: 100%;
            }
        }

        &-input {
            background: #FFFFFF;
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            width: 100%;
            height: 45px;
            padding: 16px;
            color: #000000;
            margin-bottom: 36px;

            &::placeholder {
                color: #000000;
            }
        }

        &-textarea {
            background: #FFFFFF;
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            padding: 14px 19px;
            width: 100%;
        }

        &-button {
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            float: right;
            margin-top: 10px;
            padding: 11px 30px;
        }
    }
}

@media screen and (max-width: 848px) {
    .top-brand__filter-wrapper {
        padding: 30px;
        padding-bottom: 0;
    }

    .top-brand__filter-individual .selectric {
        width: 150px;
    }

    .top-brand__filter-individual {
        margin-right: 10px;
    }
}

@media screen and (max-width: 700px) {
    .top-brand__filter-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .top-brand__filter-individual .selectric {
        width: 150px;
    }

    .top-brand__filter-individual {
        margin-right: 10px;
    }
}

@media screen and (max-width:650px) {
    .top-brand__review-text {
        width: 100%;
    }
}

@media screen and (max-width:690px) {
    .top-brand__filter-individual {
        &:first-child {
            .selectric {
                width: 70px;
            }
        }

        &:nth-child(2) {
            span {
                display: none;
            }

            .label {
                display: block !important;
            }
        }

        &:nth-child(3) {
            display: none;
        }
    }
}

@media screen and (max-width:1157px) {
    .business-directory__hero-search {
        margin-top: 60px;
    }

    .business-directory__hero-content h1 {
        font-size: 30px;
        line-height: 45px;
    }
}

@media screen and (max-width:840px) {
    .top-brand__search {
        display: none;
    }

    .business-directory__hero-content h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .top-brand__hero {
        height: 350px;
    }
}

@media screen and (max-width:661px) {
    .business-directory__hero-content {
        width: 80%;
    }
}

@media screen and (max-width:611px) {
    .top-brand__individual-info {
        height: auto;
    }
}

@media screen and (max-width:576px) {
    .top-brand__review-modal {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:440px) {
    .top-brand__review-modal {
        padding-left: 20px;
        padding-right: 20px;
    }
}