.user-sidebar {
    height: 100vh;
    width: 184px;
    background: url('../images/background-one.png') no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    background-position-x: -650px;
    -webkit-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    transition: width 0.2s ease;

    &__overlay {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        padding-top: 30px;
    }

    &__logo {
        width: 86px;
        height: 81px;
        margin: auto;
    }

    &__item {
        margin-top: 50px;
    }

    &__link {
        padding: 20px;
        padding-right: 10px !important;

        a {
            svg {
                width: 18px !important;
                height: 18px !important;
            }

            span {
                font-weight: 500;
                line-height: normal;
                font-size: 14px;
                color: #FFFFFF;
                vertical-align: middle;
                margin-left: 5px;
                -webkit-transition: display 0.3s ease;
                transition: display 0.3s ease;
            }
        }

        &:hover,
        &-active {
            border-left: 1px solid #E6B712;
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__menu-icon {
        text-align: center;
        cursor: pointer;

        svg {
            fill: #E6B712 !important;
            width: 18px;
            height: 18px;
        }

        img {
            display: none;
        }
    }
}

.user-profile {
    background: #FCFCFC;
    margin-left: 214px;
    margin-right: 30px;
    padding: 50px;
    margin-bottom: 30px;

    &__top {
        width: 70%;
        margin-bottom: 30px;
    }

    &__heading {
        font-weight: 500;
        line-height: 22px;
        font-size: 16px;
        color: #000000;
    }

    &__overview {
        width: 55%;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 10px;

        &-heading {
            padding: 19px 26px;
            border-bottom: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px 4px 0px 0px;

            h3 {
                font-weight: 600;
                line-height: 22px;
                font-size: 16px;
                color: #000000;
                text-transform: uppercase;
            }
        }
    }

    &__details {
        padding: 26px;


        &-table {
            border-collapse: separate;
            border-spacing: 0px 15px;
        }

        &-key,
        &-answer {
            font-weight: 500;
            line-height: 22px;
            font-size: 14px;
            color: #000000;

            input {
                border: none;
                background: transparent;
                padding: 10px;
                // font-weight: 200;
                font-size: 14px;
                color: #000000;
            }
        }

        &-key {
            vertical-align: top;
        }

        &-answer {
            padding-left: 80px;

            textarea {
                width: 100%;
                border: 1px solid #DEDEDE;
                box-sizing: border-box;
                border-radius: 4px;
                background-color: #FCFCFC;
                padding: 10px;
            }
        }
    }

    &__settings {
        &-row {
            display: flex;
            margin-bottom: 10px;

            .user-profile__details-key {
                align-self: center;
            }

            .user-profile__details-answer {
                padding-left: 0;
                margin-left: auto;
            }

            .user-profile__address {
                align-self: flex-start;
            }
        }

        &-column {
            width: 50%;
        }
    }

    &__business {
        width: 40%;
        margin-left: auto;

        &-known {
            border: 1px solid #DEDEDE;
            margin-top: 20px;
        }

        &-individual {
            padding: 20px 15px;
            display: flex;
            align-items: center;
        }

        &-image {
            height: 31px;
            width: 31px;
            overflow: hidden;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: auto;
        }

        &-details {
            margin-left: 8px;
            vertical-align: middle;
            margin-right: auto;
        }

        &-delete {
            margin-left: auto;
            color: #F30000;
            cursor: pointer;
            font-size: 26px;
        }

        &-name {
            font-weight: 600;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
        }

        &-follower {
            font-weight: normal;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
        }

        &-follow-btn {
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 4px 16px;
            margin-left: 8px;
        }
    }

    &__status {
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        height: 92px;
        padding: 12px 16px;

        &-heading {
            font-weight: 600;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
            margin-bottom: 10px;
        }
    }

    &__edit {
        font-weight: 600;
        line-height: 22px;
        font-size: 8px;
        color: #F30000;
        float: right;

        &:hover {
            color: #E6B712;
        }

        &-wrap {
            width: 50%;
            margin-right: 0.5rem;
        }

        &-time {
            width: 100px;
            border: none;
            background-color: transparent !important;
        }

        &-key {
            padding-left: 30px;
        }

        &-textarea {
            padding-left: 0 !important;

            textarea {
                background: #FFFFFF;
                border: 1px solid #DEDEDE;
                box-sizing: border-box;
                padding: 20px;
            }
        }

        &-password {
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px;
            display: block;
            width: 100%;
            height: 40px;
            margin-bottom: 30px;
            padding: 9px 29px;

            &:last-child {
                margin-bottom: 0px;
            }

            &::placeholder {
                color: #000000;
                font-weight: 500;
                line-height: 22px;
                font-size: 12px;
            }
        }

        &-add-picture {
            width: 150px;
            border: 1px solid #E6B712;
            cursor: pointer;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            margin-left: auto;
            text-align: center;
            height: 45px;
            line-height: 45px;
            align-self: center;


            &:hover {
                background-color: #E6B712;
                border: none;
                color: #FFFFFF;
            }

            &-preview {
                text-align: center;
                border: 1px solid #E6B712;
                width: 150px;
                height: 136px;
                line-height: 136px;
                vertical-align: middle;

                p {
                    font-weight: 500;
                    font-size: 14px;
                    color: #000000;
                }
            }
        }
    }

    &__address {
        vertical-align: top;
    }

    &__overlay {
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 40px;
        top: 0;
    }
}

.user-personal {
    background: #FCFCFC;
    margin-left: 214px;
    margin-right: 30px;
    margin-bottom: 30px;

    &__heading {
        font-weight: 600;
        line-height: 22px;
        font-size: 16px;
        color: #000000;
        margin-left: 20px;
        text-transform: uppercase;

        &-divider {
            background: #DEDEDE;
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px 4px 0px 0px;
            margin-bottom: 0;
            margin-top: 4px;
        }
    }

    &__wrapper {
        padding: 30px 50px;
    }

    &__top {
        padding-top: 30px;
    }

    &__contact {
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 20px;
        width: 49.5%;
    }

    &__opening {
        font-weight: 600;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
    }

    &__edit-profile {
        border-radius: 2px;
        color: #ffffff;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        padding: 9px 26px;
        margin-left: auto;
        border: none;
        background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
        border-radius: 4px;

        &-wrapper {
            padding-bottom: 30px;
            padding-right: 30px;
            text-align: right;
        }
    }

    &__delete {
        border: 1px solid #E6B712;
        border-radius: 4px;
        color: #000000;
        padding: 9px 26px;
        background: transparent;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        margin-left: 20px;

        &:hover {
            color: #FFFFFF;
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border: none;
        }
    }

    &__content {
        display: flex;
    }
}

.user-gallery {
    display: flex;
    flex-wrap: wrap;

    &__image {
        width: 20%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}


.user-review {
    &__filter {
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 2px;
        width: 165px;
        height: 30px;
        vertical-align: middle;

        &-label {
            line-height: 40px;
            font-size: 12px;
            color: #333333;
        }
    }

    &__individual {
        display: flex;
        width: 70%;
        margin: auto;
        margin-bottom: 40px !important;
    }

    &__details {
        width: 70%;
    }

    &__image {
        width: 200px;
        max-height: 104px;
        overflow: hidden;
        margin-left: 5px;
    }

    &__text {
        width: 80%;
        line-height: normal;
        font-size: 14px;
        color: #4A4A4A;
        margin-top: 4px;
        font-family: Segoe UI;
    }

    &__name {
        font-weight: 600;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 4px;
    }
}

.user-notification {
    &__heading {
        font-weight: 600;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 26px;
    }

    &__subheading {
        font-size: 14px;
        color: #4A4A4A;
        margin-bottom: 7px;
    }

    &__label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        color: #4A4A4A;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: fit-content;

        &:hover input~.user-notification__checkbox {
            background: #eeeeee;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &-text {
            margin-left: 37px;
        }

    }

    &__checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 1px solid #000000;
        border-radius: 2px;
    }

    &__individual {
        display: flex;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 25px;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px 21px;

        &-image {
            width: 82px;
            height: 82px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 16px;
            margin-left: auto;
            align-self: center;

        }

        &-details {
            width: 70%;
            align-self: center;
            margin-right: auto;
        }

        &-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #000000;

            span {
                font-weight: 300;
                font-size: 12px;
                line-height: 22px;
                color: #000000;
                float: right;
            }
        }

        &-text {
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 22px;
            color: #000000;
        }
    }


}

.user-notification__label input:checked~.user-notification__checkbox {
    background-color: transparent;
}

.user-notification__checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.user-notification__label input:checked~.user-notification__checkbox:after {
    display: block;
}

.user-notification__label .user-notification__checkbox:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.user-profile__edit-add-picture-input[type="file"] {
    display: none;
}

#progressbar {
    height: 11px;
    border-radius: 4px !important;
    border: 1px solid #E6B712;
    margin-bottom: 10px;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0 !important;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    border-radius: 4px;
    border: none;
}

.resp__business-known {
    display: none;
}

.show__menu {
    display: none;
}

.hide__menu {
    float: right;
    margin-right: 10px;
    display: none;
}

@media screen and (max-width:1121px) {
    .resp__user-profile-edit {
        padding: 26px 7px;
    }
}

@media screen and (max-width:1055px) {
    .user-personal__wrapper {
        padding: 30px 10px;
    }

    .user-personal {
        margin-right: 10px;
        margin-left: 194px;
    }
}

@media screen and (max-width:1000px) {

    .user-profile {
        margin-right: 10px;
        margin-left: 194px;
        padding: 50px 30px;
    }
}

@media screen and (max-width:944px) {
    .user-profile__edit-add-picture-preview {
        margin-right: 3px;
    }
}

@media screen and (max-width:933px) {
    .user-profile__edit-key {
        padding-left: 10px;
    }
}


@media screen and (max-width:926px) {
    .user-profile__business {
        margin-left: 0;
        width: 45%;
    }

    .user-profile__details-answer {
        padding-left: 30px;
    }

    .user-review__individual {
        width: 100%;
    }

    .user-review__details {
        width: 90%;
    }
}

@media screen and (max-width:892px) {
    .resp-user-personal__wrapper {
        flex-wrap: wrap;
    }

    .user-profile__edit-wrap,
    .user-profile__settings-column {
        width: 80%;
    }

    .user-notification__individual {
        width: 100%;
    }
}

@media screen and (max-width:850px) {
    .user-personal__content {
        flex-wrap: wrap;
    }

    .user-personal__contact {
        width: 100%;
    }

    .resp__user-sidebar {
        width: 170px;
    }

    .user-sidebar__link a span {
        font-size: 12px;
    }

    .user-personal {
        margin-left: 170px;
    }
}

@media screen and (max-width:863px) {

    .user-profile {
        padding: 50px 10px;
    }

    .user-profile__overview-heading h3 {
        font-size: 14px;

    }

    .user-profile__overview-heading {
        padding: 15px;
    }

    .user-profile__business-follow-btn {
        font-size: 8px;
    }
}

@media screen and (max-width:769px) {
    .user-profile__content {
        flex-wrap: wrap-reverse;
    }

    .non-resp__business-known {
        display: none;
    }

    .resp__business-known {
        display: block;
    }

    .user-profile__business {
        width: 70%;
        margin-bottom: 20px;
    }

    .user-profile__overview {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width:685px) {
    .user-review__image {
        display: none;
    }

    .user-review__details,
    .user-review__text {
        width: 100%;
    }
}

@media screen and (max-width:632px) {

    .user-profile__edit-wrap,
    .user-profile__settings-column {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .user-profile__business {
        width: 90%;
    }
}

@media screen and (max-width:528px) {
    .resp__user-sidebar {
        -webkit-transition: width 0.3s ease;
        -o-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        transition: width 0.3s ease;

        width: 59px;

        .user-sidebar__logo,
        .user-sidebar__link a span,
        .hide__menu {
            display: none;
        }

        .user-sidebar__menu-icon {
            img {
                display: inline-block;
                margin-bottom: 30px;
                width: 45px;
            }
        }

        .show__menu {
            display: inline-block;
        }

    }

    .hide__menu {
        display: inline-block;
    }

    .user-profile {
        margin-left: 68px;
    }

    .user-sidebar__logo {
        width: 62px;
        height: 59px;
    }

    .user-sidebar {
        z-index: 1;
    }

    .user-personal {
        margin-left: 60px;
    }

    .user-notification__tab {
        margin-left: 10px;
    }
}

@media screen and (max-width:430px) {
    .user-notification__individual {
        padding: 12px;
    }

    .user-notification__individual-image {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:383px) {
    .user-profile__details {
        padding: 10px;
    }
}

@media screen and (max-width:380px) {
    .user-profile__details-answer {
        padding-left: 0px;
    }

    .user-profile__details-table {
        table-layout: fixed;
    }

    .user-sidebar__link {
        padding: 20px 13px;
    }

    .resp__user-sidebar {
        width: 40px;
    }

    .user-profile {
        margin-left: 43px;
    }

    .user-profile__details-answer {
        p {
            word-wrap: break-word;
        }
    }

    .user-personal {
        margin-left: 37px;
        margin-right: 0;
    }
}