.user-sidebar {
    height: 100vh;
    width: 184px;
    background: url('../images/background-one.png') no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    background-position-x: -650px;

    &__overlay {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        padding-top: 30px;
    }

    &__logo {
        width: 86px;
        height: 81px;
        margin: auto;
    }

    &__item {
        margin-top: 50px;
    }

    &__link {
        padding: 20px;
        padding-right: 10px !important;

        a {
            svg {
                width: 18px !important;
                height: 18px !important;
            }

            span {
                font-weight: 500;
                line-height: normal;
                font-size: 14px;
                color: #FFFFFF;
                vertical-align: middle;
                margin-left: 5px;
            }
        }

        &:hover,
        &-active {
            border-left: 1px solid #E6B712;
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

.user-profile {
    background: #FCFCFC;
    margin-left: 214px;
    margin-right: 30px;
    padding: 50px;
    margin-bottom: 30px;

    &__top {
        width: 70%;
        margin-bottom: 30px;
    }

    &__heading {
        font-weight: 500;
        line-height: 22px;
        font-size: 16px;
        color: #000000;
    }

    &__overview {
        width: 55%;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 10px;

        &-heading {
            padding: 19px 26px;
            border-bottom: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px 4px 0px 0px;

            h3 {
                font-weight: 600;
                line-height: 22px;
                font-size: 16px;
                color: #000000;
                text-transform: uppercase;
            }
        }
    }

    &__details {
        padding: 26px;


        &-table {
            border-collapse: separate;
            border-spacing: 0px 15px;
        }

        &-key,
        &-answer {
            font-weight: 500;
            line-height: 22px;
            font-size: 14px;
            color: #000000;

            input {
                border: none;
                background: transparent;
                padding: 10px;
                // font-weight: 200;
                font-size: 14px;
                color: #000000;
            }
        }

        &-answer {
            padding-left: 80px;
        }
    }

    &__business {
        width: 40%;
        margin-left: auto;

        &-known {
            border: 1px solid #DEDEDE;
            margin-top: 20px;
        }

        &-individual {
            padding: 20px 15px;
            display: flex;
            align-items: center;
        }

        &-image {
            height: 31px;
            width: 31px;
            overflow: hidden;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: auto;
        }

        &-details {
            margin-left: 8px;
            vertical-align: middle;
            margin-right: auto;
        }

        &-delete {
            margin-left: auto;
            color: #F30000;
            cursor: pointer;
            font-size: 26px;
        }

        &-name {
            font-weight: 600;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
        }

        &-follower {
            font-weight: normal;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
        }

        &-follow-btn {
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 4px 16px;
            margin-left: 8px;
        }
    }

    &__status {
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        height: 92px;
        padding: 12px 16px;

        &-heading {
            font-weight: 600;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
            margin-bottom: 10px;
        }
    }

    &__edit {
        font-weight: 600;
        line-height: 22px;
        font-size: 8px;
        color: #F30000;
        float: right;

        &:hover {
            color: #E6B712;
        }

        &-time {
            width: 100px;
            border: none;
            background-color: transparent !important;
        }

        &-answer {
            padding-left: 20px !important;
        }

        &-key {
            padding-left: 59px !important;
        }

        &-textarea {
            padding-left: 0 !important;

            textarea {
                background: #FFFFFF;
                border: 1px solid #DEDEDE;
                box-sizing: border-box;
                padding: 20px;
            }
        }

        &-password {
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px;
            display: block;
            width: 100%;
            height: 40px;
            margin-bottom: 30px;
            padding: 9px 29px;

            &:last-child {
                margin-bottom: 0px;
            }

            &::placeholder {
                color: #000000;
                font-weight: 500;
                line-height: 22px;
                font-size: 12px;
            }
        }

        &-add-picture {
            padding: 9px 40px;
            border: 1px solid #E6B712;
            cursor: pointer;
            display: inline-block;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            color: #000000;
            margin-left: 90px;


            &:hover {
                background-color: #E6B712;
                border: none;
                color: #FFFFFF;
            }

            &-preview {
                text-align: center;
                display: inline-block;
                border: 1px solid #E6B712;
                width: 150px;
                height: 136px;
                line-height: 136px;
                vertical-align: middle;

                p {
                    font-weight: 500;
                    font-size: 14px;
                    color: #000000;
                }
            }
        }
    }

    &__address {
        vertical-align: top;
    }
}

.user-personal {
    background: #FCFCFC;
    margin-left: 214px;
    margin-right: 30px;
    margin-bottom: 30px;

    &__heading {
        font-weight: 600;
        line-height: 22px;
        font-size: 16px;
        color: #000000;
        margin-left: 20px;
        text-transform: uppercase;

        &-divider {
            background: #DEDEDE;
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px 4px 0px 0px;
            margin-bottom: 0;
            margin-top: 4px;
        }
    }

    &__wrapper {
        padding: 30px 50px;
    }

    &__top {
        padding-top: 30px;
    }

    &__contact {
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__opening {
        font-weight: 600;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
    }

    &__edit-profile {
        border-radius: 2px;
        color: #ffffff;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        padding: 9px 26px;
        margin-left: auto;
        border: none;
        background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
        border-radius: 4px;

        &-wrapper {
            padding-bottom: 30px;
            padding-right: 30px;
            text-align: right;
        }
    }

    &__delete {
        border: 1px solid #E6B712;
        border-radius: 4px;
        color: #000000;
        padding: 9px 26px;
        background: transparent;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        margin-left: 20px;

        &:hover {
            color: #FFFFFF;
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border: none;
        }
    }
}

.user-gallery {
    display: flex;
    flex-wrap: wrap;

    &__image {
        width: 20%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}


.user-review {
    &__filter {
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 2px;
        width: 165px;
        height: 30px;
        vertical-align: middle;

        &-label {
            line-height: 40px;
            font-size: 12px;
            color: #333333;
        }
    }

    &__individual {
        display: flex;
        width: 70%;
        margin: auto;
        margin-bottom: 40px !important;
    }

    &__details {
        width: 70%;
    }

    &__image {
        width: 200px;
        max-height: 104px;
        overflow: hidden;
        margin-left: 5px;
    }

    &__text {
        width: 80%;
        line-height: normal;
        font-size: 14px;
        color: #4A4A4A;
        margin-top: 4px;
        font-family: Segoe UI;
    }

    &__name {
        font-weight: 600;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 4px;
    }
}

.user-notification {
    &__heading {
        font-weight: 600;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        margin-bottom: 26px;
    }

    &__subheading {
        font-size: 14px;
        color: #4A4A4A;
        margin-bottom: 7px;
    }

    &__label {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
        color: #4A4A4A;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: fit-content;

        &:hover input~.user-notification__checkbox {
            background: #eeeeee;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &-text {
            margin-left: 37px;
        }

    }

    &__checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 1px solid #000000;
        border-radius: 2px;
    }
}

.user-notification__label input:checked~.user-notification__checkbox {
    background-color: transparent;
}

.user-notification__checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.user-notification__label input:checked~.user-notification__checkbox:after {
    display: block;
}

.user-notification__label .user-notification__checkbox:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.user-profile__edit-add-picture-input[type="file"] {
    display: none;
}

#progressbar {
    height: 11px;
    border-radius: 4px !important;
    border: 1px solid #E6B712;
    margin-bottom: 10px;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0 !important;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    border-radius: 4px;
    border: none;
}