.user-sidebar {
    height: 100vh;
    width: 184px;
    background: url('../images/background-one.png') no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    background-position-x: -650px;

    &__overlay {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        padding-top: 30px;
    }

    &__logo {
        width: 86px;
        height: 81px;
        margin: auto;
    }

    &__item {
        margin-top: 50px;
    }

    &__link {
        padding: 20px;
        padding-right: 10px !important;

        a {
            svg {
                width: 18px !important;
                height: 18px !important;
            }

            span {
                font-weight: 500;
                line-height: normal;
                font-size: 14px;
                color: #FFFFFF;
                vertical-align: middle;
                margin-left: 5px;
            }
        }

        &:hover,
        &-active {
            border-left: 1px solid #E6B712;
            background: rgba(0, 0, 0, 0.5);
        }
    }
}

.user-profile {
    background: #FCFCFC;
    margin-left: 214px;
    margin-right: 30px;
    padding: 50px;
    margin-bottom: 30px;

    &__top {
        width: 70%;
        margin-bottom: 30px;
    }

    &__heading {
        font-weight: 500;
        line-height: 22px;
        font-size: 16px;
        color: #000000;
    }

    &__overview {
        width: 55%;
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 10px;

        &-heading {
            padding: 19px 26px;
            border-bottom: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px 4px 0px 0px;

            h3 {
                font-weight: 600;
                line-height: 22px;
                font-size: 16px;
                color: #000000;
                text-transform: uppercase;
            }
        }
    }

    &__details {
        padding: 26px;
        // padding-left: 0 !important;

        &-table {
            border-collapse: separate;
            border-spacing: 0px 15px;
        }

        &-key,
        &-answer {
            font-weight: 500;
            line-height: 22px;
            font-size: 14px;
            color: #000000;
        }

        &-answer {
            padding-left: 80px;
        }
    }

    &__business {
        width: 40%;
        margin-left: auto;

        &-known {
            border: 1px solid #DEDEDE;
            margin-top: 20px;
        }

        &-individual {
            padding: 20px 15px;
            display: flex;
            align-items: center;
        }

        &-image {
            height: 31px;
            width: 31px;
            overflow: hidden;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: auto;
        }

        &-details {
            margin-left: 8px;
            vertical-align: middle;
            margin-right: auto;
        }

        &-delete {
            margin-left: auto;
            color: #F30000;
            cursor: pointer;
            font-size: 26px;
        }

        &-name {
            font-weight: 600;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
        }

        &-follower {
            font-weight: normal;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
        }

        &-follow-btn {
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 4px 16px;
            margin-left: 8px;
        }
    }

    &__status {
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        height: 92px;
        padding: 12px 16px;

        &-heading {
            font-weight: 600;
            line-height: 22px;
            font-size: 12px;
            color: #000000;
            margin-bottom: 10px;
        }
    }

    &__edit {
        font-weight: 600;
        line-height: 22px;
        font-size: 8px;
        color: #F30000;
        float: right;

        &:hover {
            color: #E6B712;
        }
    }
}

.user-personal {
    background: #FCFCFC;
    margin-left: 214px;
    margin-right: 30px;
    margin-bottom: 30px;

    &__heading {
        font-weight: 600;
        line-height: 22px;
        font-size: 16px;
        color: #000000;
        margin-left: 20px;
        text-transform: uppercase;

        &-divider {
            background: #DEDEDE;
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 4px 4px 0px 0px;
            margin-bottom: 0;
            margin-top: 4px;
        }
    }

    &__wrapper {
        padding: 50px;
    }

    &__top {
        padding-top: 80px;
    }

    &__contact {
        border: 1px solid #DEDEDE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__opening {
        font-weight: 600;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
    }

    &__edit-profile {
        border-radius: 2px;
        color: #ffffff;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        padding: 9px 26px;
        margin-left: auto;
        border: none;
        background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
        border-radius: 4px;

        &-wrapper {
            padding-bottom: 30px;
            padding-right: 30px;
            text-align: right;
        }
    }

    &__delete {
        border: 1px solid #E6B712;
        border-radius: 4px;
        color: #000000;
        padding: 9px 26px;
        background: transparent;
        font-weight: 500;
        line-height: 22px;
        font-size: 14px;
        margin-right: 20px;

        &:hover {
            color: #FFFFFF;
            background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
            border: none;
        }
    }
}

.user-gallery {
    display: flex;
    flex-wrap: wrap;

    &__image {
        width: 20%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}


#progressbar {
    height: 11px;
    border-radius: 4px !important;
    border: 1px solid #E6B712;
    margin-bottom: 10px;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0 !important;
    background: linear-gradient(90deg, #E6B712 31.25%, #CAAA3B 88.19%);
    border-radius: 4px;
    border: none;
}